{% extends "master.html" %}
{% set active_page = "about" %}

{% block title %}TITLE{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
<h1>About</h1>

<p class="lead">Description here.</p>

<h3>Team Members</h3>
<table class="table table-hover">
	<tr><th>Name</th><th>GitHub</th></tr>
	<tr>
		<td>Ariel Levy</td>
		<td><a href="https://github.com/askyel">askyel</a></td>
	</tr>
	<tr>
		<td>Bi Ling Wu</td>
		<td><a href="https://github.com/bilingwu">bilingwu</a></td>
	</tr>
	<tr>
		<td>Alice Xue</td>
		<td><a href="https://github.com/alicexue">bilingwu</a></td>
	</tr>
	<tr>
		<td>Jeffrey Zou</td>
		<td><a href="https://github.com/JeffreyZou13">JeffreyZou13</a></td>
	</tr>
</table>
{% endblock %}
