{% extends "master.html" %}
{% set active_page = "about" %}


{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
<h1>About</h1>

<p class="lead">Search a list of ingredients to find recipes. Click on a recipe to see articles related to each ingredient and a map of locations relevant to the articles.</p>

<h3>Team Members</h3>
<table class="table table-hover">
	<tr><th>Name</th><th>GitHub</th></tr>
	<tr>
		<td>Ariel Levy</td>
		<td><a href="https://github.com/askyel">askyel</a></td>
	</tr>
	<tr>
		<td>Bi Ling Wu</td>
		<td><a href="https://github.com/bilingwu">bilingwu</a></td>
	</tr>
	<tr>
		<td>Alice Xue</td>
		<td><a href="https://github.com/alicexue">bilingwu</a></td>
	</tr>
	<tr>
		<td>Jeffrey Zou</td>
		<td><a href="https://github.com/JeffreyZou13">JeffreyZou13</a></td>
	</tr>
</table>

<h3>APIs</h3>
<p><a href="https://slack-redir.net/link?url=https%3A%2F%2Fdeveloper.edamam.com%2Frecipe-api">Edamam's Recipe Search API</a> *allows 1,000 free calls</p>
<p><a href="https://developers.google.com/maps/documentation/geocoding/intro?csw=1">The Google Maps Geocoding API</a></p>
<p><a href="https://developers.google.com/maps/documentation/static-maps/intro">Google Static Maps API</a></p>
<p><a href="http://developer.nytimes.com/docs/read/article_search_api_v2">New York Times Article Search API</a></p>

{% endblock %}
